<div class="tour-buy" *ngIf="tour">
  <div class="tour-buy__navigation">
    <h3 class="tour-buy__title">{{tour.title}}</h3>
  </div>
  <div class="tour-buy__main">
    <div class="tour-buy__video">
      <!-- first try HTML5 playback: if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise -->
      <!-- warning: playback does not work on iOS3 if you include the poster attribute! fixed in iOS4.0 -->
      <video #movieplayer width="100%" height="100%" controls>
      	<!-- MP4 must be first for iPad! -->
      	<source src="assets/video/{{tour.video}}.mp4" type="video/mp4" /><!-- Safari / iOS video    -->
      </video>
    </div>
    <div class="fill-remaining-space"></div>
    <div class="tour-buy__cta__wrapper">
      <div class="tour-buy__cta">
        <div class="tour-buy__cta__price__label">Стоимость</div>
        <div class="tour-buy__cta__price">{{tour.price}} руб.</div>
        <button class="button--theme-primary">Заказать</button>
        <div class="tour-buy__cta__gift">или <a href="#"><strong>купить в подарок</strong></a></div>
      </div>
      <div class="tour-buy__cta__description">
        <div>Duration: {{tour.duration}}</div>
        <div>Type: {{tour.movementType}}</div>
      </div>
    </div>
  </div>
  <div class="tour-buy__secondary">
    <div class="tour-buy__calendar">Date: {{tour.dates}}</div>
    <div class="tour-buy__info">
      <div>operator: {{tour.operator}} - rating: {{tour.rating}}</div>
      <div>Description:</div>
      <div>{{tour.description}}</div>
    </div>
  </div>
</div>
