<div class="tour-buy" *ngIf="tour">
  <div class="tour-buy__navigation">
    <h3 class="tour-buy__title">{{tour.title}}</h3>
  </div>
  <div class="tour-buy__main">
    <div class="tour-buy__media__container">
      <div class="tour-buy__media" *ngIf="activeMedia">
        <img src="assets/img/tours/{{activeMedia}}" *ngIf="activeMediaType === 'photo'" />
        <!-- first try HTML5 playback: if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise -->
        <!-- warning: playback does not work on iOS3 if you include the poster attribute! fixed in iOS4.0 -->
        <video #movieplayer width="100%" height="100%" controls *ngIf="activeMediaType === 'video'">
        	<!-- MP4 must be first for iPad! -->
        	<source src="assets/video/{{activeMedia}}.mp4" type="video/mp4" /><!-- Safari / iOS video    -->
        </video>
      </div>
      <div class="tour-buy__media__list">
        <div class="tour-buy__media__list__icon" *ngFor="let video of tour.video"
        (click)="activateMedia('video', video)"
        (touchend)="activateMedia('video', video)">
          <img src="assets/video/video-placeholder.png" />
        </div>
        <div class="tour-buy__media__list__icon" *ngFor="let photo of tour.photo"
        (click)="activateMedia('photo', photo)"
        (touchend)="activateMedia('photo', photo)">
          <img src="assets/img/tours/{{photo}}" />
        </div>
      </div>
    </div>
    <div class="fill-remaining-space"></div>
    <div class="tour-buy__cta__wrapper">
      <div class="tour-buy__cta">
        <div class="tour-buy__cta__price__label">Стоимость</div>
        <div class="tour-buy__cta__price">{{tour.price}} руб.</div>
        <button class="button--theme-primary">Заказать</button>
        <!-- <div class="tour-buy__cta__gift">или <a href="#"><strong>купить в подарок</strong></a></div> -->
      </div>
      <div class="tour-buy__cta__description">
        <div class="tour-buy__cta__description__duration" *ngIf="tour.duration">
          <div class="tour-buy__cta__description__label">Длительность</div>
          <span class="duration__icon duration__icon--theme-black"></span>
          {{tour.duration}} часов
        </div>
        <div class="tour-buy__cta__description__type" *ngIf="tour.movementType">
          <div class="tour-buy__cta__description__label">Тип</div>
          <span class="type__icon type__icon--theme-black" [ngClass]="setMovementTypeClass(tour.movementType)"></span>
          {{translateType(tour.movementType)}}
        </div>
        <div class="tour-buy__cta__description__area" *ngIf="tour.area">
          <div class="tour-buy__cta__description__label">Вид</div>
          {{tour.area}}
        </div>
        <div class="tour-buy__cta__description__meeting-place" *ngIf="tour.meetingPlace">
          <div class="tour-buy__cta__description__label">Место встречи</div>
          {{tour.meetingPlace}}
        </div>
      </div>
    </div>
  </div>
  <div class="tour-buy__secondary">
    <div class="tour-buy__calendar">
      <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="date"></my-date-picker>
    </div>
    <div class="tour-buy__info">
      <!-- <div>operator: {{tour.operator}} - rating: {{tour.rating}}</div> -->
      <h5 class="tour-buy__info__title">{{tour.descriptionTitle}}</h5>
      <div>{{tour.description}}</div>
    </div>
    <div class="tour-buy__important" *ngIf="tour.important">
      <h5 class="labels__title">Важные моменты</h5>
      <md-checkbox class="form-control checkbox checkbox--theme-readonly" *ngFor="let important of tour.important">
        {{important}}
      </md-checkbox>
    </div>
    <div class="tour-buy__included" *ngIf="tour.included">
      <h5 class="labels__title">В стоимость включено</h5>
      <md-checkbox class="form-control checkbox checkbox--theme-readonly" *ngFor="let included of tour.included">
        {{included}}
      </md-checkbox>
    </div>
    <div class="tour-buy__not-included" *ngIf="tour.notIncluded">
      <h5 class="labels__title">В стоимость не включено</h5>
      <md-checkbox class="form-control checkbox checkbox--theme-readonly" *ngFor="let notIncluded of tour.notIncluded">
        {{notIncluded}}
      </md-checkbox>
    </div>
  </div>
</div>
