.tour-buy {
  margin: auto;
  padding-left: 155px;
  padding-right: 155px;

  &__title {
    margin-top: 30px;
    text-align: left;
  }

  &__navigation {
    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    margin-bottom: 40px;
  }

  &__media__container {
    width: 662px;
  }

  &__media {
    border-radius: 10px;
    height: 392px;
    background: #000;
    margin-bottom: 20px;

    & > img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &__media__list {
    line-height: 0;
    margin-left: -19px;
    font-size: 0px;
  }

  &__media__list__icon {
    border-radius: 10px;
    width: 208px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    margin-left: 19px;

    & > img {
      height: auto;
      width: 100%;

    }
  }

  &__cta__wrapper {
    width: 252px;
    margin-left: 40px;
  }

  &__cta {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Arial';
  }

  &__cta__price__label {
    text-align: left;
    font-size: 13px;
    margin-left: 40px;
    color: #777;
    margin-bottom: 5px;
  }

  &__cta__price {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  &__cta__gift {
    font-size: 14px;
    margin-top: 10px;
    a {
      color: #000;
    }
  }

  &__cta__description {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    padding: 12px 12px 4px 12px;
    font-family: 'Arial';
    font-size: 14px;

    & > div {
      border-bottom: solid 1px #f0f0f0;
      padding-bottom: 6px;
      margin-bottom: 7px;
    }

    & > div:last-child {
      border-bottom: none;
    }
  }

  &__cta__description__label {
    font-size: 12px;
    color: #777;
    margin-bottom: 3px;
  }

  &__secondary {
    margin-bottom: 40px;
  }

  &__calendar {
    margin-bottom: 37px;
  }

  &__info {
    font-family: 'Arial';
    font-size: 14px;
    line-height: 1.5;
    padding-right: 350px;

    &__title {
      margin-bottom: 7px;
    }
  }

  .labels__title {
    margin-top: 20px;
  }

  &__included md-checkbox {
    border-color: #3fd980;
  }

  &__not-included md-checkbox {
    border-color: #ff073c;
  }
}
