.tour-buy {
  margin: auto;
  padding-left: 155px;
  padding-right: 155px;

  &__title {
    margin-top: 30px;
    text-align: left;
  }

  &__navigation {
    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
  }

  &__video {
    border-radius: 10px;
    width: 662px;
    height: 392px;
    background: #000;
  }

  &__cta__wrapper {
    width: 252px;
  }

  &__cta {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Arial';
  }

  &__cta__price__label {
    text-align: left;
    font-size: 13px;
    margin-left: 40px;
    color: #777;
    margin-bottom: 5px;
  }

  &__cta__price {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  &__cta__gift {
    font-size: 14px;
    margin-top: 10px;
    a {
      color: #000;
    }
  }

  &__cta__description {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
  }

  &__info {
    width: 300px;
    & > div {
      margin: 5px;
    }
  }

  &__photos {
    width: 300px;
    height: 100px;
    border: 1px solid #eee;
  }
}
