<div class="start">
  <div class="hero">
    <div class="logo"><span class="logo__text">ORDEN TRAVEL</span></div>
    <h1>Новые приключения каждый день</h1>
    <app-tour-search></app-tour-search>
    <div class="login-buttons">
      <app-login-button [loginType]="loginVk"></app-login-button>
      <app-login-button [loginType]="loginFacebook"></app-login-button>
      <app-login-button [loginType]="loginMail"></app-login-button>
      <app-login-button [loginType]="loginCabinet" [cabinet]="constTrue"></app-login-button>
    </div>
  </div>

  <app-tour-filter></app-tour-filter>

  <app-tour-list
    [collectionId]="trendingTours">
  </app-tour-list>

  <app-tour-list
    [collectionId]="specialOfferTours">
  </app-tour-list>
</div>
