<div class="start">
  <div class="hero"></div>
  <div class="logo"><span class="logo__text">ORDEN TRAVEL</span></div>
  <h1>Новые приключения каждый день</h1>

  <app-tour-filter></app-tour-filter>

  <!-- <app-tour-testimonial></app-tour-testimonial>

  <app-tour-list [withCity]="constTrue"
    [collectionId]="closeTo"
    [collectionTitle]="closeToTitle">
  </app-tour-list> -->

  <div class="subscribtion">
    <h2 class="subscribtion__title">Следите за новыми приключениями!</h2>
    <div class="subscribtion__form">
      <input placeholder="Введите ваш email" class="subscribtion__input"/>
      <button class="subscribtion__submit">подписаться на рассылку</button>
    </div>
    <div class="subscribtion__copy">
      <p>
        Мы пишем один раз в неделю, никакого спама и банальной рекламы.
      </p>
      <p>
        Качественные обзоры туров, видеоролики, впечатления туристов
      </p>
    </div>
  </div>
</div>
