@import '../app.component';

.start {
  margin: auto;
}

.hero {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 460px;
  background-image: url('assets/img/hero-image.png');
  background-position: bottom center;
}

.login-buttons {
  display: none;
  margin-top: 60px;
  margin-bottom: 30px;
}

.subscribtion {
  margin-top: 25px;
  margin-bottom: 80px;
  padding-top: 60px;
  border-top: solid 1px #dedbdb;
  text-align: center;

  &__title {
    color: $secondary-color;
  }

  &__form {
    display: inline-block;
    border-radius: 23px;
    background-color: $primary-color;
    height: 45px;
    position: relative;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
  }

  &__input {
    outline: none;
    border: none;
    border-radius: 17px;
    background-color: #fff;
    height: 35px;
    width: 240px;
    font-size: 14px;
    color: $secondary-color;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;

  }

  &__submit {
    height: 35px;
    display: inline-block;
    background: $primary-color;
    border: none;
    outline: none;
    color: #fff;
    font-size: 26px;
    margin-left: 20px;
    font-family: $font-style-regular;
    cursor: pointer;
    padding: 0;
  }

  &__copy {
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    p {
      margin: 2px;
    }
  }
}
