<h4 class="black-color">Редактирование тура</h4>

<div class="tour-add" *ngIf="tour">
  <div class="tour-add__title__wrapper">
    <input class="tour-add__title h3" [(ngModel)]="tour.title" />
    <span class="edit-icon"></span>
  </div>

  <div class="tour-add__main">
    <div class="tour-add__media__container">
      <div class="tour-add__media__wrapper">
        <div class="tour-add__media" *ngIf="activeMedia">
          <img src="assets/img/tours/{{activeMedia}}" *ngIf="activeMediaType === 'photo'" />
          <!-- first try HTML5 playback: if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise -->
          <!-- warning: playback does not work on iOS3 if you include the poster attribute! fixed in iOS4.0 -->
          <video #movieplayer width="100%" height="100%" controls *ngIf="activeMediaType === 'video'">
          	<!-- MP4 must be first for iPad! -->
          	<source src="assets/video/{{activeMedia}}.mp4" type="video/mp4" /><!-- Safari / iOS video    -->
          </video>
        </div>
      </div>
      <div class="tour-add__media__list">
        <div class="tour-add__media__list__icon" *ngFor="let video of tour.video"
        (click)="activateMedia('video', video)"
        (touchend)="activateMedia('video', video)">
          <img src="assets/video/video-placeholder.png" />
        </div>
        <div class="tour-add__media__list__icon" *ngFor="let photo of tour.photo"
        (click)="activateMedia('photo', photo)"
        (touchend)="activateMedia('photo', photo)">
          <img src="assets/img/tours/{{photo}}" />
        </div>
        <div class="tour-add__media__list__icon tour-add__media__list__icon--add-photo"
        (click)="uploadPhoto()"
        (touchend)="uploadPhoto()">
          <span class="tour-add__media__list__icon--plus"></span>
          <span class="tour-add__media__list__icon--text">Добавить фото</span>
        </div>
        <div class="tour-add__media__list__icon tour-add__media__list__icon--add-video"
        (click)="uploadVideo()"
        (touchend)="uploadVideo()">
          <span class="tour-add__media__list__icon--plus"></span>
          <span class="tour-add__media__list__icon--text">Добавить видео</span>
        </div>
      </div>
      <div class="tour-add__secondary">
        <div class="tour-add__info">
          <!-- <div>operator: {{tour.operator}} - rating: {{tour.rating}}</div> -->
          <input class="tour-add__info__title h5" [(ngModel)]="tour.descriptionTitle" />
          <textarea [(ngModel)]="tour.description"></textarea>
          <span class="edit-icon"></span>
        </div>
        <div class="tour-add__important">
          <h5 class="labels__title">Важные моменты</h5>
          <input class="tour-add__labels__value tour-add__labels__value--important"
          *ngFor="let important of tour.important; let i = index; trackBy:important"
          [(ngModel)]="tour.important[i]"/>
          <span class="labels__plus" (click)="addLabel('important')"></span>
        </div>
        <div class="tour-add__included">
          <h5 class="labels__title">В стоимость включено</h5>
          <input class="tour-add__labels__value tour-add__labels__value--included"
          *ngFor="let included of tour.included; let i = index"
          [(ngModel)]="tour.included[i]"/>
          <span class="labels__plus" (click)="addLabel('included')"></span>
        </div>
        <div class="tour-add__not-included">
          <h5 class="labels__title">В стоимость не включено</h5>
          <input class="tour-add__labels__value tour-add__labels__value--not-included"
          *ngFor="let notIncluded of tour.notIncluded; let i = index"
          [(ngModel)]="tour.notIncluded[i]"/>
          <span class="labels__plus" (click)="addLabel('notIncluded')"></span>
        </div>
      </div>
    </div>
    <div class="fill-remaining-space"></div>
    <div class="tour-add__cta__wrapper">
      <div class="tour-add__cta__description">
        <div class="tour-add__cta__description__price">
          <div class="tour-add__cta__price__label">Стоимость</div>
          <div class="tour-add__cta__price"><input [(ngModel)]="tour.price" /> руб.</div>
          <span class="edit-icon"></span>
        </div>
        <div class="tour-add__cta__description__duration">
          <div class="tour-add__cta__description__label">Длительность</div>
          <span class="duration__icon duration__icon--theme-black"></span>
          <input [(ngModel)]="tour.duration" /> часов
          <span class="edit-icon"></span>
        </div>
        <div class="tour-add__cta__description__type" (click)="showOptions('movementType')">
          <div class="tour-add__cta__description__label">Тип</div>
          <div class="tour-add__cta__description__type__text">
            <span class="type__icon type__icon--theme-black" [ngClass]="setMovementTypeClass(tour.movementType)"></span>
            {{translateType(tour.movementType)}}
          </div>
          <span class="edit-dropdown"></span>
          <div class="tour-add__cta__description__type__options" *ngIf="optionsShown['movementType']">
            <div class="tour-add__cta__description__type__option" *ngFor="let option of options.movementType" (click)="selectOption('movementType', option, $event)">
              <span class="type__icon type__icon--theme-black" [ngClass]="setMovementTypeClass(option)"></span>
              {{translateType(option)}}
            </div>
          </div>
        </div>
        <div class="tour-add__cta__description__area">
          <div class="tour-add__cta__description__label">Вид</div>
          <input [(ngModel)]="tour.area" />
          <span class="edit-icon"></span>
        </div>
        <div class="tour-add__cta__description__meeting-place">
          <div class="tour-add__cta__description__label">Место встречи</div>
          <input [(ngModel)]="tour.meetingPlace" />
          <span class="edit-icon"></span>
        </div>
      </div>
      <div class="tour-add__dates">
        <span class="tour-add__dates__text">Отметьте даты, на которые доступен заказ данного тура</span>
        <div class="tour-add__dates__month" *ngFor="let month of months">
            {{month.getMonth() | monthNumToText}}
            <div class="tour-add__dates__month__days">
                <span class="tour-add__dates__month__days__day" *ngFor="let day of getCellsByMonth(month, 'before')"></span>
                <span class="tour-add__dates__month__days__day"
                *ngFor="let day of getCellsByMonth(month, ''); let i = index"
                (click)="toggleDate(month, i + 1)"
                [ngClass]="{selected: isDateSelected(month, i + 1)}">{{i +  1}}</span>
                <span class="tour-add__dates__month__days__day" *ngFor="let day of getCellsByMonth(month, 'after')"></span>
            </div>
        </div>
        <!-- <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="date"></my-date-picker> -->
      </div>
    </div>
  </div>

  <div class="tour-add__buttons">
    <button class="button--theme-save" (click)="save()">Сохранить</button>
    <button class="button--theme-cancel" (click)="goBack()">Отменить изменения</button>
    <button class="button--theme-delete" (click)="delete()">x</button>
  </div>

</div>
