<div class="tour-add" *ngIf="tour">
  <md-input #tourTitle class="form-control"
  placeholder="Title" autoFocus
  [(ngModel)]="tour.title">
  </md-input>
  <md-input #tourDuration class="form-control"
  placeholder="Duration"
  [(ngModel)]="tour.duration">
  </md-input>
  <md-input #tourType class="form-control"
  placeholder="Type"
  [(ngModel)]="tour.type">
  </md-input>
  <md-input #tourPrice class="form-control"
  placeholder="Price"
  [(ngModel)]="tour.price">
  </md-input>
  <md-input #tourDescription class="form-control"
  placeholder="Description"
  [(ngModel)]="tour.Description">
  </md-input>
  <button class="text-uppercase tour-add__save"
  (click)="save()">
  Save
  </button>
</div>
