<div class="eventlist">
  <div class="eventlist__list--grid" [class.eventlist__list--grid--cabinet]="cabinet">
    <div class="eventlist__event--row" *ngFor="let event of events">
      <span class="eventlist__event--row__date">
        <span class="eventlist__event--row__date__icon"></span>
        <span>{{event.date | date: 'dd.MM'}}</span>
      </span>
      <span class="eventlist__event--row__code">#{{event.code}}</span>
      <span class="eventlist__event--row__name">{{event.userId.firstName}} ({{event.count}} чел)</span>
      <span class="eventlist__event--row__title fill-remaining-space"
      (click)="onSelect(event.tourId._id)"
      (ontouchend)="onSelect(event.tourId._id)">
        {{event.tourId.title}}
      </span>
      <span class="eventlist__event--row__guide-phone">
        <span class="eventlist__event--row__guide-phone__icon"></span>
        <span class="eventlist__event--row__guide-phone__text">{{event.tourId.cabinetId?.phone}}</span>
      </span>
      <span class="eventlist__event--row__user-phone">
        <span class="eventlist__event--row__user-phone__icon"></span>
        <span class="eventlist__event--row__user-phone__text">{{event.userId.phone}}</span>
      </span>
    </div>
  </div>
</div>
