@import '../app.component';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > input {
        border: none;
        background: none;
        padding: 0;
        border: solid 1px #ddd;
        border-radius: 5px;
        margin: 20px;
        width: 400px;
        font-family: $font-style-regular;
        font-size: 20px;
        padding: 10px;
        background: #fff;
    }

    &__login {
        margin-bottom: 20px;
    }
}
