<div class="tourlist" [class.grid]="grid">

  <h1 class="tourlist__title">{{collectionId}}</h1>

  <div class="tourlist__controls">
    <button md-button md-raised-button class="text-uppercase md-base-color tourlist__add"
    (click)="addTour()">
    Add Tour
    </button>
  </div>  

  <div class="error" *ngIf="error">{{error}}</div>

  <div *ngIf="addingTour">
    <app-tour-add (close)="close($event)"></app-tour-add>
  </div>

  <div class="tourlist__list">
    <div class="tourlist__tour" *ngFor="let tour of tours"
      (click)="onSelect(tour?.id)"
      (ontouchend)="onSelect(tour)">
        <div>title: {{tour.title}}</div>
        <div>photo: {{tour.photo}}</div>
        <div>duration: {{tour.duration}}</div>
        <div>type: {{tour.movementType}}</div>
        <div>price: {{tour.price}}</div>
        <div>visited: {{tour.visited}}</div>
    </div>
  </div>

</div>
