@import '../../app.component';

.tourlist__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tourlist__list--cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  // border: 1px solid #999;
  padding: 20px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.tourlist__controls {
  display: none;
  height: 36px;
  position: relative;
  margin: 10px;
}

.tourlist__add {
  display: none;
  position: absolute;
  right: 0;
}



// Grid view
.tourlist__tour--row {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
  background: $tourlist-bg;
  border-radius: 10px;
  padding: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &__date {
    background: $primary-color;
    width: 90px;
    color: $font-color-primary;
    border-radius: 10px;
    height: 40px;
    font-family: $font-style-secondary;
    font-size: 16px;
    line-height: 40px;
    padding: 0 8px;
    display: flex;

    &__icon {
      width: 15px;
      height: 40px;
      background-image: url('/assets/img/icon-date.png');
      background-repeat: no-repeat;
      background-position: 0 12px;
      display: inline-block;
      margin-right: 7px;
    }
  }

  &__code {
    width: 65px;
    margin-left: 15px;
    font-size: 13px;
    font-family: $font-style-secondary;
    color: $tour-code;
  }

  &__title {
    margin-left: 20px;
    font-size: 14px;
    font-family: $font-style-secondary;
    text-decoration: underline;
    color: $primary-color;
    cursor: pointer;
  }

  &__guide-phone {
    min-width: 170px;
    border-radius: 10px;
    background: $private-header-color;
    height: 40px;
    // line-height: 40px;
    font-size: 16px;
    font-family: $font-style-secondary;
    font-weight: bold;
    padding: 0 8px;
    display: flex;
    align-items: center;

    &__text {
      margin-top: 2px;
    }

    &__icon {
      width: 25px;
      height: 25px;
      background-image: url('/assets/img/icon-call.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-right: 9px;
    }
  }
}
