@import '../../app.component';

.tourlist__title {
  font-size: 44px;
  color: $secondary-color;
  text-align: center;
  margin-bottom: 15px;
}

.tourlist__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  // border: 1px solid #999;
  padding: 20px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.grid .tourlist__tour {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  & > div {
    width: 16%;
  }
}

.tourlist__controls {
  display: none;
  height: 36px;
  position: relative;
  margin: 10px;
}

.tourlist__add {
  display: none;
  position: absolute;
  right: 0;
}
