.tourlist__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #999;
  padding: 20px;
}

.tourlist__tour {
  height: 200px;
  width: 300px;
  background: #fee;
  cursor: pointer;
  margin: 10px;
}

.grid .tourlist__tour {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  & > div {
    width: 16%;
  }
}

.tourlist__controls {
  height: 36px;
  position: relative;
  margin: 10px;
}

.tourlist__add {
  display: none;
  position: absolute;
  right: 0;
}
