<div class="tourlist" [class.grid]="grid" >

  <div class="error" *ngIf="error">{{error}}</div>

  <div *ngIf="addingTour">
    <app-tour-add (close)="close($event)"></app-tour-add>
  </div>

  <div class="tourlist__list--cards" *ngIf="!grid">
    <button class="tourlist__add" (click)="addTour()"><span class="tourlist__add__plus"></span></button>
    <div class="tourlist__tour" *ngFor="let tour of tours"
    (click)="onSelect(tour.id)" (ontouchend)="onSelect(tour.id)">
      <app-tour-card [tour]="tour" [withCity]="withCity"></app-tour-card>
    </div>
  </div>
</div>
