<div class="tourlist" [class.grid]="grid" >

  <h3 class="tourlist__title">{{collectionTitle}}</h3>

  <div class="tourlist__controls">
    <button class="text-uppercase tourlist__add"
    (click)="addTour()">
    Add Tour
    </button>
  </div>

  <div class="error" *ngIf="error">{{error}}</div>

  <div *ngIf="addingTour">
    <app-tour-add (close)="close($event)"></app-tour-add>
  </div>

  <div class="tourlist__list">
    <div class="tourlist__tour" *ngFor="let tour of tours">
      <app-tour-card [tour]="tour" [withCity]="withCity"></app-tour-card>
    </div>
  </div>

</div>
