@import '../app.component';

.cabinet {
  padding: 0 155px 40px;
  margin: auto;

  .tourlist__title {
    display: none;
  }

  .tourlist__add {
    display: inline-block !important;
  }

  &__title {
    color: $secondary-color;
    text-align: left;
  }
}
