/* COLORS */
$primary-color: #fb7102;
$primary-hover: #ea6001;

$secondary-color: #2a2f32;
$secondary-hover: #2d3234;
$tourlist-secondary: #858c90;

$font-color-primary: #fff;
$font-color-secondary: #111;
$tourlist-bg: #fff;

$h4-color: #999999;
$tour-code: #808080;
$private-header-color: #d6dee2;
$private-header-settings: #838a8f;
$private-header-ative: #49545a;


/* FONTS */
@font-face {
	font-family: 'Lifehack Sans Regular';
	src: url('/assets/fonts/Lifehack Sans Regular.eot');
	src: local('☺'),
	  url('/assets/fonts/Lifehack Sans Regular.woff') format('woff'),
	  url('/assets/fonts/Lifehack Sans Regular.ttf') format('truetype'),
	  url('/assets/fonts/Lifehack Sans Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-style-regular: Lifehack Sans Regular, Arial, Helvetica, sans-serif;
$font-style-secondary: 'Arial';


/* RESET */
html {
  box-sizing: border-box;
  background: $secondary-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: $font-color-secondary;
}
input:-moz-placeholder {
  color: $font-color-secondary;
}
input::-moz-placeholder {
  color: $font-color-secondary;
}
input:-ms-input-placeholder  {
   color: $font-color-secondary;
}


/* HELPERS */
.full-width {
  width: 100%;
  flex: 0 1 100%;
}


/* ELEMENTS */
h1 {
  font-size: 80px;
  font-weight: normal;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
	font-size: 46px;
	text-align: center;
	font-weight: normal;
	margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
  font-family: "Arial";
  color: rgb(153, 153, 153);
  font-weight: bold;
  line-height: 1.2;
	text-align: left;
}

h5 {
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
  margin-bottom: 5px;
	font-family: 'Arial';
}


.button {
  transition: all 0.3s ease-in;
  padding: 0.5em 1em;
}

.button--theme-primary {
  background: $primary-color;
  color: white;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 21px;
  border-radius: 8px;
  height: 50px;
	line-height: 50px;
	padding: 0 65px;
	cursor: pointer;
	border: none;
	letter-spacing: 1px;
  &:hover {
    background: $primary-hover;
  }
}

.button--theme-ghost {
  background: transparent;
  border: 1px solid $primary-color;
  color: $secondary-color;
  &:hover {
    color: $secondary-hover;
    border-color: $secondary-hover;
  }
}

.button--theme-icon {
  border: none;
  padding: 0;
  margin: 0;
}

.checkbox {
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 42px;
  display: inline-block;
  border: solid 3px $primary-color;
  border-radius: 10px;
  background-color: #fff;
  height: 42px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 3px;

  &.md-checkbox-checked {
    color: white;
    background-color: $primary-color;
  }

  .md-checkbox-inner-container {
    display: none;
  }
}

.checkbox--theme-readonly {
	&.md-checkbox-checked {
    color: $font-color-secondary;
    background-color: #fff;
  }
}

.change-region__starter {
  width: 170px;
  height: 40px;
  background: $primary-color;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.header__link {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  text-decoration: none;
  margin-left: 15px;
  font-family: 'Arial'
}

.private-header {
	background-color: $private-header-color;
	width: 100%;
	height: 54px;
	display: flex;
	align-items: center;
	padding-left: 155px;
	padding-right: 155px;

	&__link {
		color: $private-header-settings;
		font-size: 15px;
		font-family: 'Arial';
		font-weight: bold;
		line-height: 44px;
		border-top: solid 4px transparent;
		border-bottom: solid 4px transparent;
		display: inline-block;
		margin-left: 24px;
		cursor: pointer;

		&.active {
			border-bottom: solid 4px $primary-color;
			color: $private-header-ative;
		}
	}

	&__settings {
		color: $private-header-settings;
		font-size: 15px;
		font-family: 'Arial';
		font-weight: bold;
		cursor: pointer;
		display: flex;

		&__icon {
			width: 18px;
      height: 18px;
      background-image: url('/assets/img/icon-settings.png');
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-right: 9px;
		}
	}
}

.list--black {
  border-radius: 10px;
  border-width: 9px 7px;
	margin-left: -7px;
	margin-right: -7px;
	margin-bottom: 10px;
  border-color: $secondary-color;
  border-style: solid;
	background: $secondary-color;

	&__title {
		font-family: $font-style-secondary;
		font-size: 14px;
		color: $font-color-primary;
		margin-bottom: 10px;
		margin-left: 12px;
	}

	&--date-black {
		.tourlist__tour--row__date {
			background-color: $secondary-color !important;

			&__icon {
				background-image: url('/assets/img/icon-date-light.png') !important;
			}
		}
	}
}

.logo {
  border: solid 4px $primary-color;
  border-radius: 9px;
  background-color: #fff;
  width: 238px;
  height: 63px;
  font-size: 57px;
  position: relative;
  text-align: center;
  line-height: 63px;
  font-family: $font-style-regular;
	overflow: hidden;
}

.logo--theme-small {
  font-size: 26px;
  border-width: 3px;
  width: 113px;
  height: 32px;
  line-height: 32px;
	overflow: hidden;
}

.type__icon {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 7px;
	height: 15px;
	vertical-align: top;

	&.car {
		width: 18px;
		background-image: url('/assets/img/icon-auto.png');
	}
	&.walk {
		width: 11px;
		background-image: url('/assets/img/icon-walk.png');
	}
	&.bycicle {
		background-image: url('/assets/img/icon-bycicle.png');
	}

	&--theme-black {
		&.car {
			background-image: url('/assets/img/icon-auto-black.png');
		}
		&.walk {
			background-image: url('/assets/img/icon-walk-black.png');
		}
		&.bycicle {
			background-image: url('/assets/img/icon-bycicle-black.png');
		}
	}
}



.duration__icon {
	background-image: url('/assets/img/icon-duration.png');
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 5px;
	height: 15px;
	width: 14px;
	vertical-align: top;

	&--theme-black {
		background-image: url('/assets/img/icon-duration-black.png');
	}
}


/* MATERIAL OVERRIDE */
md-list {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* put it here because of material css modularizing bug on styling 'md-list-item.highlighted .md-list-item' */
md-list-item.highlighted .md-list-item {
  background: rgba(0, 0, 0, 0.04);
}

/* app.component specific */
.app {
  font-family: $font-style-regular;
  background-image: url('assets/img/main-bg.png');
  max-width: 1268px;
  margin-left: auto;
  margin-right: auto;

  md-toolbar {
    padding: 0;
    background-color: $secondary-color;
    min-height: 0;

    md-toolbar-row {
      height: 40px;
      padding: 0 155px;
    }
  }

  .footer {
    background-color: $secondary-color;
    height: 80px;
    width: 100%;

    md-toolbar-row {
      justify-content: flex-start;
      align-items: center;
      height: 80px;
    }

    .logo {
      display: inline-block;
    }

    .header__link {
      margin-left: 25px;
			cursor: pointer;
    }
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
