/* COLORS */
$primary-color: #fb7102;
$primary-hover: #ea6001;

$secondary-color: #2a2f32;
$secondary-hover: #2d3234;

$font-color-primary: #fff;
$font-color-secondary: #111;


/* FONTS */
@font-face {
	font-family: 'Lifehack Sans Regular';
	src: url('/assets/fonts/Lifehack Sans Regular.eot');
	src: local('☺'),
	  url('/assets/fonts/Lifehack Sans Regular.woff') format('woff'),
	  url('/assets/fonts/Lifehack Sans Regular.ttf') format('truetype'),
	  url('/assets/fonts/Lifehack Sans Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-style-regular: Lifehack Sans Regular, Arial, Helvetica, sans-serif;


/* RESET */
html {
  box-sizing: border-box;
  background: $secondary-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

input::-webkit-input-placeholder {
  color: $font-color-secondary;
}
input:-moz-placeholder {
  color: $font-color-secondary;
}
input::-moz-placeholder {
  color: $font-color-secondary;
}
input:-ms-input-placeholder  {
   color: $font-color-secondary;
}


/* HELPERS */
.full-width {
  width: 100%;
  flex: 0 1 100%;
}


/* ELEMENTS */
h1 {
  font-size: 80px;
  font-weight: normal;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  transition: all 0.3s ease-in;
  padding: 0.5em 1em;
}

.button--theme-primary {
  background: $primary-color;
  color: white;
  &:hover {
    background: $primary-hover;
  }
}

.button--theme-ghost {
  background: transparent;
  border: 1px solid $primary-color;
  color: $secondary-color;
  &:hover {
    color: $secondary-hover;
    border-color: $secondary-hover;
  }
}

.button--theme-icon {
  border: none;
  padding: 0;
  margin: 0;
}

.checkbox {
  color: $font-color-secondary;
  font-size: 24px;
  line-height: 42px;
  display: inline-block;
  border: solid 3px $primary-color;
  border-radius: 10px;
  background-color: #fff;
  height: 42px;
  padding-left: 13px;
  padding-right: 13px;
  margin: 3px;

  &.md-checkbox-checked {
    color: white;
    background-color: $primary-color;
  }

  .md-checkbox-inner-container {
    display: none;
  }
}

.change-region__starter {
  width: 170px;
  height: 40px;
  background: $primary-color;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.header__link {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  text-decoration: none;
  margin-left: 15px;
  font-family: 'Arial'
}

.logo {
  border: solid 4px $primary-color;
  border-radius: 9px;
  background-color: #fff;
  width: 238px;
  height: 63px;
  font-size: 57px;
  position: relative;
  text-align: center;
  line-height: 63px;
  font-family: $font-style-regular;
}

.logo--theme-small {
  font-size: 26px;
  border-width: 3px;
  width: 113px;
  height: 32px;
  line-height: 32px;
}


/* MATERIAL OVERRIDE */
md-list {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* put it here because of material css modularizing bug on styling 'md-list-item.highlighted .md-list-item' */
md-list-item.highlighted .md-list-item {
  background: rgba(0, 0, 0, 0.04);
}

/* app.component specific */
.app {
  font-family: $font-style-regular;
  background-image: url('assets/img/main-bg.png');
  max-width: 1268px;
  margin-left: auto;
  margin-right: auto;

  md-toolbar {
    padding: 0;
    background-color: $secondary-color;
    min-height: 0;

    md-toolbar-row {
      height: 40px;
      padding: 0 155px;
    }
  }

  .footer {
    background-color: $secondary-color;
    height: 80px;
    width: 100%;

    md-toolbar-row {
      justify-content: flex-start;
      align-items: center;
      height: 80px;
    }

    .logo {
      display: inline-block;
    }

    .header__link {
      margin-left: 25px;
			cursor: pointer;
    }
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
