<div class="tourlist__tour" [class.with-city]="withCity" [class.testimonial]="testimonial">
    <div class="tourlist__tour__city">{{tour.city}}</div>
    <div class="tourlist__tour__wrapper">
      <img src="/assets/img/tours/{{tour.photo}}" />
      <div class="tourlist__tour__rating">
        <span class="tourlist__tour__rating__icon" *ngFor="let i of ratingArr.slice(0, tour.rating > ratingArr.length ? atingArr.length : tour.rating)"></span>
      </div>
      <div class="tourlist__tour__date">
        {{tour.dates | date: 'dd.MM'}}
      </div>
      <div class="tourlist__tour__title">
        {{tour.title}}
      </div>
      <div class="tourlist__tour__details">
        <span class="type__icon" [ngClass]="setMovementTypeClass(tour.movementType)"></span>
        <span class="tourlist__tour__type">{{translateType(tour.movementType)}}</span>
        <span class="duration__icon"></span>
        <span class="tourlist__tour__duration">{{tour.duration}} Ч</span>
        <span class="tourlist__tour__price">{{tour.price}} руб</span>
      </div>
    </div>
</div>
