// @import '../../app.component.scss';

.tour-filter {
  padding: 30px;
  margin: auto;

  &__filter__date {
    height: 211px;
    margin: 0 auto 20px;
  }

  &__filter__labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-right: 16%;
  }
}
