@import '../../app.component.scss';

.tour-filter {
  padding: 30px;
  margin: auto;

  &__text {
    display: inline-block;
    height: 60px;
    color: $font-color-secondary;
    border: none;
    font-size: 16px;
    outline: none;

    &__wrapper {
      display: flex;
      vertical-align: top;
      position: relative;
      z-index: 10;
      border-radius: 10px;
      background-color: #fff;
      width: 600px;
      height: 60px;
      margin-bottom: 125px;
      margin-left: auto;
      margin-right: auto;
    }

    &__button {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background-image: url('assets/img/icon-search.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  &__filter__date {
    margin: 0 auto 20px;

    &__days {
        margin: 20px auto 0;
        padding-left: 170px;
        display: inline-block;
    }

    &__day {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 24px;
        display: inline-block;
        width: 18px;
        text-align: center;

        &--selected {
            color: $primary-color;
        }
    }

    &__slider {
        padding-left: 14px;
        padding-right: 14px;
    }
  }

  &__filter__labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 16%;
    margin-right: 16%;
  }
}
