<div class="tour-filter">

  <div class="tour-filter__filter">
    <form>
      <div class="form-group tour-filter__text__wrapper" >
        <button class="button--theme-icon tour-filter__text__button" [disabled]="true">
        <!-- (click)="navigate()"
        (touchend)="navigate()" -->
        <span></span>
        </button>
        <input class="form-control tour-filter__text"
        placeholder="Поиск приключений" autoFocus
        [(ngModel)]="query.title"
        (keyup)="search()"
        name="text">
      </div>
      <div class="tour-filter__filter__date">
        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </div>
      <div class="tour-filter__filter__labels">
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.all"
          (ngModelChange)="onLabelsAllChanged($event)"
          name="all">Все</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.car"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="car">На машине</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.bycicle"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="bycicle">На велосипеде</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.walk"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="walk">Пешие</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.smallPeriod"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="smallPeriod">1-2 часа</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.middlePeriod"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="middlePeriod">2-4 часа</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.largPeriod"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="largPeriod">5-8 часов</md-checkbox>
        </div>
        <div class="form-group">
          <md-checkbox class="form-control checkbox"
          [(ngModel)]="query.xlargePeriod"
          (ngModelChange)="onLabelsOtherChanged($event)"
          name="xlargePeriod">Пару дней</md-checkbox>
        </div>
      </div>
    </form>
  </div>

  <app-tour-list [tours]="tours"></app-tour-list>

</div>
