@import '../app.component';

.user {
  padding: 0 155px 40px;
  margin: auto;
}

.user__tours--current {
  .tourlist {
    border-radius: 10px;
    border-width: 9px 7px;
    border-color: $secondary-color;
    border-style: solid;
  }
}

.user__tours--past {
  .tourlist__tour--row__date {
    background: $tourlist-secondary !important;
  }
}
