<div class="private-header private-header--user">
  <div class="logo logo--theme-small"><span class="logo__text">ORDEN TRAVEL</span></div>
  <div class="private__header__nav">
    <span class="private-header__link active">Личный кабинет</span>
  </div>
  <div class="fill-remaining-space"></div>
  <div class="private-header__settings">
    <span class="private-header__settings__icon"></span>
    <span>Настройки</span>
  </div>
</div>

<div class="user">
  <h4 class="user__title">Мои туры</h4>
  <div class="list--black">
    <app-tour-list grid="true" class="user__tours--current"></app-tour-list>
  </div>

  <h4 class="user__title">Прошедшие туры</h4>
  <app-tour-list grid="true" class="user__tours--past"></app-tour-list>
</div>
